#background-video{
  background: black;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  top: 0;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */
}

.login-form, .signup-form {
  background-image: url("plate.jpg");
  height:100vh;
  width: 100vw;
}

.cform {
  margin-top: 30vh;
}

.welcome {
  margin-top: 30vh;
  font-size: 3em;
  letter-spacing: .3em;
}

.head {
  letter-spacing: .3em;
}
